asgiref==3.11.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cloudinary==1.44.1
cssselect2==0.8.0
dj-database-url==3.0.1
Django==6.0
django-cloudinary-storage==0.3.0
django-db-file-storage==0.5.6.1
fonttools==4.61.1
gunicorn==23.0.0
idna==3.11
packaging==25.0
pillow==12.0.0
psycopg2-binary==2.9.11
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
python-dotenv==1.2.1
requests==2.32.5
resend==2.19.0
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.0.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
weasyprint==67.0
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.0
