# ===============================
# Python / Django
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environments
# ===============================
venv/
.env/
.env.local/
.env.* 

# ===============================
# Django specific
# ===============================
db.sqlite3
media/
staticfiles/

# Django migrations cache
**/migrations/__pycache__/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS / Editor files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code / IDEs
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Windows
# ===============================
Desktop.ini

# ===============================
# Git
# ===============================
*.orig
